@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,700&family=Lobster&family=Montserrat:wght@300;500&display=swap');

/*Mobile First*/

body {
    font-family: 'Lato', sans-serif;
}

.container{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 80%;
    max-height: 50vh;

    background-color: white;
    border-radius: 4px;

    box-shadow: rgba(100, 100, 110, 0.2) 0px 7px 29px 0px;

    padding: 1.8rem;

    position: relative;
    overflow: auto;
}

td {
    display: block;
    width: 100%;
}

th {
    display: none;
}

td:nth-of-type(2) {
    color: rgb(49, 141, 141);
    font-size: 1rem;
    font-weight: 700rem;
}

.actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close {
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(10, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(100, 100, 110, 0.2) 0px 7px 29px 0px;
    font-weight: 700;
}
a {
    text-decoration: none;
    font-weight: 700;
    color:-webkit-linear-gradient(to right, #00dbde, #fc00ff);
}

.titulo {
    text-transform: uppercase;
    text-align: center;
}

.img_principal {
    float: left;
    width: 350px;
    margin-right: 1rem;
}

.close:hover {
    filter: opacity(0.75);
}

.parrafo {
    font-weight: 100;
    line-height: 1.5rem;
    text-align: justify;
}

.tabla {
    width: 100%;
    border-spacing: 0;
}

.tabla th, .tabla td {
    text-align: left;
    padding: 1rem;
}

.tabla tr:nth-child(even) {
    background-color: rgb(163, 151, 231);
}

.fa-star {
    color: rgb(109, 216, 243);
}

.position{
    background-color: rgb(10, 63, 63);
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-left: 0.5rem;
}

.titulo-item {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(10, 63, 63);
    padding: 1rem;
}

.direccion {
    color: rgb(10, 63, 63);
    font-weight: 700;
    font-size: 1.2rem;
}

.fa-location-dot {
    font-size: 2.5rem;
    margin-right: 1rem;
}

.link {
    color: #fc00ff;
}

.link:visited {
    color: gray;
}

@media (min-width: 810px) {
    .content {
        height: 500px;
    }

    th, td {
        display: table-cell;
    }

    td {
        width:auto;
    }

    td:nth-last-of-type(1) {
        font-size: 1rem;
        font-weight: 400;
        color: black;
    }
}